.data-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;

}

/* Columns */
.leftPart {
  padding: 50px;
  width: 60%;
  position: relative;
  padding-right: 0px;
}

.rightPart {
  padding: 20px;
  margin-left: 20px;
  width: 35%;
  
}

.databox {
  text-align: center;
  border-bottom: 3px solid #E1E8EE;
}

.databox{
  margin-top: 10px;
}

.dataName {
  font-size: 25px;
  color: black
}

.data-number {
  margin-top: 10px;
  font-size: 25px;
  color: pink;
}

.order-history-table-wrapper{
  margin-left: 10px;
  max-height: 500px;
  overflow: auto;
}

