.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;

}

/* Columns */
.leftPart {
  padding: 50px;
  width: 60%;
  position: relative;
  padding-right: 0px;
}

.rightPart {
  padding: 0px;
  width: 25%;
  
}

.databox {
  text-align: center;
  border-bottom: 3px solid #E1E8EE;
}

.dataName {
  color: black
}

.data {

  color: pink;
}
