
.item-form { 
    width:50%; 
    margin:0 auto;
}

.item-form-label{ 
    float:left; 
}
/* 
button {
    float: left;
} */

.item-form-input { 
    clear:left; display:inline-block; width: auto; 
}

fieldset {
    border: 0 none;
}