
form { 
    width:50%; 
    margin:0 auto;
}

label, input { 
    float:left; 
}
/* 
button {
    float: left;
} */

label { 
    clear:left; display:block; width: auto; 
}

fieldset {
    border: 0 none;
}